*{
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
  background-color: rgba(226, 226, 226, 1);
}

section {
  padding-top: 56px;
}

.section-title {
  font-size: 2em;
  text-align: center;
  margin: auto;
}

@media (min-width: 768px) {
  .section-title{
  font-size: 4em;
  text-align: center;
  margin: auto;
  }
}

ul {
  text-align: center;
  font-size: 2.5em;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

li {
  text-align: center;
  margin:  auto;
  display: inline-block;
  padding: .5em;
}

/* Landing page, main NAV */

.logo {
  height: 2.2em;
}

#front-page {
  background-image: url(../img/hero1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  color: #fff;
  position: relative;
}

h1 {
  text-align: center;
  padding: .5em;
  font-size: 1.5em;
  text-shadow: 5px 5px 1px #000;
  border: solid 0px black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .4);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width:768px) {
  h1 {
    margin: 4em 1em 3em 1em;
    font-size: 2em;
  }
}

@media (min-width:860px) {
  h1 {
    margin: 2em 1em 3em 1em;
    font-size: 3em;
  }
}

/* About page, profile pic, bio */

#about {
  padding-top: 56px;
}
#profile-img {
  border: .7px solid #5c5c5c;
  border-radius: 50%;
  height: auto;
  width: 35%;
}

#bio {
  text-align: center;
  margin: .5em 1em .5em 1em;
  font-size: 1.1em;
}

@media (min-width:575px) {
  #profile-img {
    width: 70%;
  }
}

@media (min-width:768px) {
  #bio {
    font-size: 2em;
  }
}

/* Portfolio section */

#portfolio {
  background-color: rgba(226, 226, 226, 1);
}

.project {
  margin-bottom: 1em;
}

@media (min-width:768px) {
  .project-title {
    font-size: 2em;
  }
}

/* Contact page, social media icons */

#contact {
  background-image: url(../img/contactBK.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  text-align: center;
  position: relative;
}

.address {
  font-size: 1.5em;
  width: 75%;
  margin: 1.5em auto;
  padding-top: .5em;
}

.social-m {
  color: lime;
  font-size: 4em;
  padding: 0;
  margin: 2em auto 0em auto;
}

#wrapper {
  background-color: rgba(255, 255, 255, .4);
  border-radius: 10px;
  margin: 56px auto 0 auto;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  #contact {
    background-image: url(../img/contactDesktop.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: auto;
    text-align: center;
  }
  .address {
    font-size: 2em;
    margin-bottom: .5em;
    margin-top: .5em;
    background-color: transparent;
  }
  .social-m {
    color: #1e1075;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  #wrapper {
    background-color: #fff;
  }
}